/* Pisando Bootstrap */
.nav-link {
  border-radius: 15px;
}

@media only screen and (max-width: 720px) {
  .accordion {
    width: 90vw;
  }
}

/* Universales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-image: url(../imagenes/background2.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@keyframes movimiento {
  0% {
    transform: translate(0) translateZ(0);
  }
  50% {
    transform: translateY(10px) translateZ(0);
  }
  to {
    transform: translate(0) translateZ(0);
  }
}
@keyframes slide-derecha {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
/* Header */
header {
  width: 100% !important;
}
header .nav-style {
  padding: 0;
  border: double black 0.5rem;
}
header .nav-style .nav-logo-container {
  margin: 0;
}
header .nav-style .nav-logo-container .nav-logo {
  height: 10vh;
}

@media only screen and (min-width: 995px) {
  .nav-hover:hover {
    color: white !important;
    background-color: black;
    border-radius: 15px;
  }
}
/* Footer */
footer {
  overflow: hidden;
  background-color: white;
  border-top: double black 0.5rem;
}
footer .row {
  height: 25vh;
}
footer .row .boton-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 4vh;
}
footer .row .redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .row .redes .logo-ig {
  height: 8vh;
  transition: all 600ms;
}
footer .row .redes .logo-ig:hover {
  transform: scale(1.1);
}
footer .row .redes .logo-fb {
  height: 8vh;
  transition: all 600ms;
}
footer .row .redes .logo-fb:hover {
  transform: scale(1.1);
}
footer .row .telefono {
  font-size: 2rem;
  font-weight: 700;
}
footer h2 {
  font-size: small;
  color: black;
}

/* Index */
.section-1-index {
  margin-top: 12vh;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 720px) {
  .section-1-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-1-index img {
  height: 82vh;
  margin: 0 auto;
  border-radius: 6px;
}

.genaropizza {
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 12vw;
  position: absolute;
  margin-left: 25.5%;
  bottom: 35vh;
  transition: 2s;
  animation: latido 3s ease-in-out infinite;
}
@media only screen and (max-width: 720px) {
  .genaropizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27vw;
    bottom: 20vh;
    margin-left: 20%;
  }
}

.frase {
  margin: 5% 25%;
  font-size: 4vh;
  color: white;
  text-align: center;
  font-weight: 800;
  font-style: italic;
}
@media only screen and (max-width: 720px) {
  .frase {
    margin: 5% 5%;
  }
}

.img-index {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4%;
}
@media only screen and (max-width: 720px) {
  .img-index {
    flex-direction: column;
  }
}
.img-index .img-local {
  width: 50%;
  transition: all 600ms;
  box-shadow: black 2px 2px 2px 2px;
}
.img-index .img-local:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 720px) {
  .img-index .img-local {
    width: 80%;
    margin: 4vh;
  }
}
.img-index .img-elab {
  width: 40%;
  transition: all 600ms;
  box-shadow: black 2px 2px 2px 2px;
}
.img-index .img-elab:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 720px) {
  .img-index .img-elab {
    width: 60%;
  }
}

/* Galeria */
.section-1-galeria {
  margin-top: 4vh;
  margin-bottom: 4vh;
  color: white;
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.galeria .row {
  margin: 0;
}
.galeria img {
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  filter: grayscale(0.25);
  animation: slide-derecha 2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  .galeria img {
    filter: grayscale(0);
  }
}
.galeria img:hover {
  filter: grayscale(0);
}
.galeria .empanadas {
  height: 40%;
}
.galeria .bollos {
  height: 40%;
}
.galeria .fugazza {
  height: 40%;
}

/* Menu */
.section-1-menu {
  margin-top: 4vh;
  margin-bottom: 10vh;
  color: white;
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.accordion-video-container .accordion {
  margin-bottom: 10vh;
}
.accordion-video-container .accordion li {
  list-style: disc;
  line-height: 2.5;
}
.accordion-video-container .accordion button {
  background-color: gray;
  font-weight: bolder;
}
.accordion-video-container .accordion .accordion-button:not(.collapsed) {
  color: black;
  background-color: #676767;
}
.accordion-video-container .accordion .accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}
.accordion-video-container video {
  border: double black 0.5rem;
}
@media only screen and (max-width: 720px) {
  .accordion-video-container video {
    display: none;
  }
}

/* Nosotros */
.section-1-nosotros {
  margin-top: 4vh;
  margin-bottom: 4vh;
  color: white;
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.equipo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  border-radius: 15px;
}

.historia {
  margin: 5% 10%;
  font-size: 4vh;
  color: white;
  text-align: center;
  font-weight: 800;
  font-style: italic;
}

/* Contacto */
.section-1-contacto {
  margin-top: 4vh;
  color: white;
  text-decoration: underline;
  font-size: 10vh;
  text-align: center;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.section-2-contacto {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  overflow: hidden;
}

.section-3-contacto {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  overflow: hidden;
  margin-top: 20vh;
  margin-bottom: 5vh;
  margin-right: 0;
}
@media only screen and (max-width: 720px) {
  .section-3-contacto .mapa {
    width: 80%;
    height: 400px;
  }
}
.section-3-contacto .formulario {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 80%;
}
.section-3-contacto .formulario label {
  margin-top: 15px;
}

/* Error 404 */
.pagina-error {
  font-size: 150%;
  margin-top: 20vh;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
