/* Contacto */

.section-1-contacto {
    margin-top: 4vh;
    color: white;
    text-decoration: underline;
    font-size: 10vh;
    text-align: center;
    text-shadow: -2px -2px 0 $color-principal, 2px -2px 0 $color-principal, -2px 2px 0 $color-principal, 2px 2px 0 $color-principal;    
    
}

.section-2-contacto {
    color: white;
    text-shadow: -1px -1px 0 $color-principal, 1px -1px 0 $color-principal, -1px 1px 0 $color-principal, 1px 1px 0 $color-principal;    
    overflow: hidden;
}

.section-3-contacto {
    color: white;
    text-shadow: -1px -1px 0 $color-principal, 1px -1px 0 $color-principal, -1px 1px 0 $color-principal, 1px 1px 0 $color-principal;    
    overflow: hidden;
    margin-top: 20vh;
    margin-bottom: 5vh;
    margin-right: 0;

    .mapa {
        
        @media only screen and (max-width:720px) {
            
            width: 400px;
            height: 400px;                
        }
    }

    .formulario {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 80%;
        
        label {
            margin-top: 15px;
        }
    }

}
