/* Galeria */

.section-1-galeria {
    margin-top: 4vh;
    margin-bottom: 4vh;
    color: white;
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;
    text-shadow: -2px -2px 0 $color-principal, 2px -2px 0 $color-principal, -2px 2px 0 $color-principal, 2px 2px 0 $color-principal;    
    
}

.galeria {

    .row {
        margin: 0;

    }


    img {
        width: 100%;
        margin: 10px auto;
        border-radius: 10px;
        filter: grayscale(0.25);
        animation: slide-derecha 2s ease-in-out;
        @media only screen and (max-width:720px) {
            
            filter: grayscale(0);
                
        }

        &:hover {
            filter: grayscale(0);
        }       
        
    }

    .empanadas {
        height: 40%;
    }

    .bollos {
        height: 40%;
    }

    .fugazza {
        height: 40%;
    }


}