/* Menu */

.section-1-menu {
    margin-top: 4vh;
    margin-bottom: 10vh;
    color: white;
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;
    text-shadow: -2px -2px 0 $color-principal, 2px -2px 0 $color-principal, -2px 2px 0 $color-principal, 2px 2px 0 $color-principal;    
    
}

.accordion-video-container {

    .accordion {
        margin-bottom: 10vh;    
        li {
            list-style: disc;
            margin: 10px auto;
        }
        button {
            background-color: gray;
            font-weight: bolder;
        }
        .accordion-button:not(.collapsed) {
            color: black;
            background-color: darken(gray,10%);
        }
        .accordion-button:focus {
            box-shadow: none;
            border-color: rgba(0,0,0,.125);
        }
        
    }

    video {

        border: double $color-principal 0.5rem;
        align-items: flex-start;

        @media only screen and (max-width:720px) {
            
            display: none;
                
        }
    }
}

